html, body {
	height: 100%;
	width: 100%;
}
body {
	margin: 0;
	padding: 0;
	display: table;
}
.container {
	width: auto;
	height: auto;
	margin: auto;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	overflow: hidden;
	opacity: 0.0;
	transition: opacity 1.0s ease;
}
#wrapper {
	width: 80%;
	height: auto;
}
.opaque {
	opacity: 1.0;
}